@import '~@angular/material/theming';

:host {
  position: fixed;
  overflow-y: auto;
  height: calc(100% - 64px);
  top: 64px;
  left: 0;
  right: 0;

  .mat-card {
    margin: 1rem;
    @include mat-elevation(2);
  }
}
