@import '../../../../../assets/styles/common.scss';

.project-measure:not(:first-child)::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 30px;
  margin-top: -18px;
  border-right: 1px solid #e6e6e6;
  content: "";
}
