<div class="card ml-3 mt-3 shadow-sm">
  <div class="card-body">
    <div class="row">
      <h6 class="card-title col-10 col-sm-8 col-lg-10 text-truncate">
        <span>{{ projectComponent.name }}</span>
      </h6>
      <div class="col-2 col-sm-4 col-lg-2 pl-0" *ngIf="projectMeasures">
        <span class="badge badge-pill float-right" [ngClass]="'rating-' + (projectMeasures.passed ? 'a' : 'e')">
          <span>{{ projectMeasures.passed ? 'Passed' : 'Failed' }}</span>
        </span>
      </div>
    </div>

    <div class="row" *ngIf="projectMeasures">
      <div *ngFor="let projectMetricMeasure of projectMeasures.measures"
            class="col-6 col-sm-3 my-2 project-measure text-center">
        <h6 class="font-weight-normal mb-0">
          {{ projectMetricMeasure.value }}
          <span class="rating" [ngClass]="'rating-' + projectMetricMeasure.rating">
            {{ projectMetricMeasure.rating | uppercase }}
          </span>
        </h6>
        <div class="text-truncate">
          <small>
            <fa-icon [icon]="projectMetricMeasure.icon"></fa-icon>
            {{ projectMetricMeasure.name }}
          </small>
        </div>
      </div>


    </div>

    <p class="card-subtitle mt-2 text-truncate text-muted">
      <small>Last Analysis on {{ projectComponent.lastAnalysisDate | date: 'medium' }}</small>
    </p>
  </div>
</div>

<!-- <mat-card>
      <mat-chip [ngClass]="getDuplicationsRatingClass()">
        <mat-icon>file_copy</mat-icon>
        <span>{{ getMeasure('duplicated_lines_density').value }} {{ getMetric('duplicated_lines_density').name }}</span>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card> -->
