@import '../../../../../../assets/styles/common.scss';

@media only screen and (max-width: 575px) {
  .project-measure:nth-child(even)::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 30px;
    margin-top: -18px;
    border-right: 1px solid #e6e6e6;
    content: "";
  }
}

@media only screen and (min-width: 576px) {
  .project-measure:not(:first-child)::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 30px;
    margin-top: -18px;
    border-right: 1px solid #e6e6e6;
    content: "";
  }
}
