<div class="container-fluid pb-3">
  <div class="row mt-3">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title mb-2 text-center text-truncate">
            <span>Project Issues</span>
          </h6>
          <tpl-project-issues></tpl-project-issues>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title mb-2 text-center text-truncate">
            <span>Issue Assignees</span>
          </h6>
          <tpl-issue-assignees></tpl-issue-assignees>
        </div>
      </div>
    </div>
  </div>
</div>
