@import '../../../../../assets/styles/common.scss';

.status {
  color: #fff;
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: .5rem;

  .nav-link {
    padding: .2rem 0;
    margin-right: .75rem;
    border: #fff 2px solid;
    font-size: 0.8rem;
    color: #495057;

    &:hover {
      border-bottom-color: #007bff;
    }
    &.active {
      color: #007bff;
      border-bottom-color: #007bff;
    }
  }
}
