@import '../../../../../assets/styles/common.scss';

.nav-tabs {
  border-bottom: none;
  margin-bottom: .5rem;

  .nav-link {
    padding: .25rem 0;
    margin-right: 1rem;
    border: #fff .1rem solid;
    font-size: 0.75rem;
    color: #495057;

    &:hover {
      border-bottom-color: #007bff;
    }
    &.active {
      color: #007bff;
      border-bottom-color: #007bff;
    }
  }
}
