<div class="card ml-3 mt-3 shadow-sm">
  <div class="card-body">
    <div class="row">
      <h6 class="card-title col-10 col-sm-8 col-lg-10 mb-2 text-truncate">
        <span>{{ projectComponent.name }}</span>
      </h6>
      <div class="col-2 col-sm-4 col-lg-2 pl-0">
        <span class="badge badge-pill float-right text-white" [ngClass]="'rating-' + (passed ? 'a' : 'e')">
          <span>{{ passed ? 'Passed' : 'Failed' }}</span>
        </span>
      </div>
    </div>

    <div [ngSwitch]="page">
      <div *ngSwitchCase="'measures'">
        <tpl-project-measures [projectKey]="projectComponent.key"
                              (statusChanged)="setStatus($event)"></tpl-project-measures>
      </div>
      <div *ngSwitchCase="'trend'">
        <tpl-project-trend [projectKey]="projectComponent.key"></tpl-project-trend>
      </div>
      <div *ngSwitchCase="'assignees'">
        <tpl-issue-assignees [projectKey]="projectComponent.key"></tpl-issue-assignees>
      </div>
      <div *ngSwitchDefault class="text-center">
        Detail not found
      </div>
    </div>

    <p class="card-subtitle mt-1 text-truncate text-muted text-right small font-italic">
      Last Analysis on {{ projectComponent.lastAnalysisDate | date: 'medium' }}
    </p>
  </div>
</div>
