<div class="card ml-3 mt-3 shadow-sm">
  <div class="card-body">
    <div class="row">
      <h6 class="card-title col-10 col-sm-8 col-lg-10 mb-2 text-truncate">
        <span>{{ projectComponent.name }}</span>
      </h6>
      <div class="col-2 col-sm-4 col-lg-2 pl-0">
        <span class="badge badge-pill float-right text-white" [ngClass]="'rating-' + (passed ? 'a' : 'e')">
          <span>{{ passed ? 'Passed' : 'Failed' }}</span>
        </span>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" [activeId]="activeFragment" class="nav-tabs">
      <li [ngbNavItem]="'measures'">
        <ng-template ngbNavContent>
          <tpl-project-measures [projectKey]="projectComponent.key"
                                (statusChanged)="setStatus($event)"></tpl-project-measures>
        </ng-template>
      </li>
      <li [ngbNavItem]="'trend'">
        <ng-template ngbNavContent>
          <tpl-project-trend [projectKey]="projectComponent.key"></tpl-project-trend>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>



    <p class="card-subtitle mt-2 text-truncate text-muted">
      <small>Last Analysis on {{ projectComponent.lastAnalysisDate | date: 'medium' }}</small>
    </p>
  </div>
</div>
