<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
  <span class="navbar-brand mb-0 h1">
    <img src="./assets/images/tpl-logo.png" alt="Techprimelab">
  </span>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul ngbNav [activeId]="routerUrl" class="navbar-nav">
      <ng-container *ngFor="let menuItem of menuItems">
        <li ngbDropdown *ngIf="menuItem.children; else noChildren" class="nav-item">
          <a href="javascript://" ngbDropdownToggle id="dropdownMenu" class="nav-link">
            {{ menuItem.title }}
          </a>
          <ul ngbDropdownMenu aria-labelledby="dropdownMenu">
            <li ngbDropdownItem [ngbNavItem]="menuItem.path + '/' + menuSubItem.path"
                *ngFor="let menuSubItem of menuItem.children">
              <a ngbNavLink [routerLink]="menuItem.path + '/' + menuSubItem.path">
                {{ menuSubItem.title }}
              </a>
            </li>
          </ul>
        </li>

        <ng-template #noChildren>
          <li [ngbNavItem]="menuItem.path">
            <a ngbNavLink [routerLink]="menuItem.path">
              {{ menuItem.title }}
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</nav>
