@import '../../../../assets/styles/common.scss';

.nav-item {
  .nav-link {
    padding: .25rem 0;
    margin: .25rem .75rem;
    border: transparent .1rem solid;
    color: #495057;

    &:hover,&.active {
      color: #0062cc;
    }
  }
}
