<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
  <span class="navbar-brand mb-0 h1">
    <img src="assets/images/tpl-logo.png" alt="Techprimelab">
  </span>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul ngbNav [activeId]="activatedRoute.fragment | async" class="navbar-nav">
      <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
        <a ngbNavLink routerLink="." [fragment]="link.fragment">
          {{ link.title }}
        </a>
      </li>
    </ul>
  </div>
</nav>
