.rating {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 0 1px rgba(0,0,0,.35);
}

.rating-a {
  background-color: #0a0;
}
.rating-b {
  background-color: #80CC00;
}
.rating-c {
  background-color: #eabe06;
}
.rating-d {
  background-color: #ed7d20;
}
.rating-e {
  background-color: #d4333f;
}
