.rating-1 {
  background-color: #0a0;
  color: #fff;
}
.rating-2 {
  background-color: #80CC00;
  color: #fff;
}
.rating-3 {
  background-color: #eabe06;
  color: #fff;
}
.rating-4 {
  background-color: #ed7d20;
  color: #fff;
}
.rating-5 {
  background-color: #d4333f;
  color: #fff;
}
